// Pizza Image

#badabing {
    background-image: url(../menu/Pizza/Badabing.webp);
}

#art-of-pesto {
    background-image: url(../menu/Pizza/Art\ of\ Pesto.webp);
}

#santy {
    background-image: url(../menu/Pizza/Santy.webp);
}

#pepperoni {
    background-image: url(../menu/Pizza/Pepperoni\ Pizza.webp);
}

#mamma-mia {
    background-image: url(../menu/Pizza/Mamma\ Mia.webp);
}

#veg-lovers {
    background-image: url(../menu/Pizza/Vege\ Lover.webp);
}

#annabelle {
    background-image: url(../menu/Pizza/Annabelle.webp);
}

#hawiian-reef {
    background-image: url(../menu/Pizza/Hawiian\ Reef.webp);
}

// Sides

#pizza-bread {
    background-image: url(../menu/Sides/Pizza\ Bread.webp);
}


#fries {
    background-image: url(../menu/Sides/Fries.webp);
}

#curly-fries {
    background-image: url(../menu/Sides/Curly\ Fries.webp);
}

#wedges {
    background-image: url(../menu/Sides/Wedges.webp);
}

#kumara-fries {
    background-image: url(../menu/Sides/Kumara\ Fries.webp);
}

#camembert {
    background-image: url(../menu/Sides/Deep\ Fried\ Camembert.webp);
}

#loaded-fries {
    background-image: url(../menu/Sides/Loaded\ Fries.webp);
}

#platter {
    background-image: url(../menu/Sides/Platter.webp);
}

// Drink Images

#coke {
    background-image: url(../menu/Drinks/Coke_.webp);
}

#milkshake {
    background-image: url(../menu/Drinks/Milkshakes.webp);
}

#iced-coffee {
    background-image: url(../menu/Drinks/Iced\ Coffee.webp);
}

#iced-choc {
    background-image: url(../menu/Drinks/Iced\ Chocolate.webp);
}

#green-tea {
    background-image: url(../menu/Drinks/Green\ Tea.webp);
}

#english-breakfast {
    background-image: url(../menu/Drinks/English\ breakfast.webp);
}

#flat-white {
    background-image: url(../menu/Drinks/Flat\ white.webp);
}

#cappuccino {
    background-image: url(../menu/Drinks/Cappuccino.webp);
}

// Dessert images

#affogato {
    background-image: url(../menu/Desert/Affogato.webp);
}

#hazelnut-pizza {
    background-image: url(../menu/Desert/Hazelnut\ Pizza.webp);
}

#apple-crumble-pizza {
    background-image: url(../menu/Desert/Apple\ crumble\ pizza.webp);
}

#black-forest-pizza {
    background-image: url(../menu/Desert/Black\ forest\ brownie\ pizza.webp);
}

#baked-cheesecake {
    background-image: url(../menu/Desert/New\ York\ Baked\ Cheesecake.webp);
}

#chocolate-brownie {
    background-image: url(../menu/Desert/Decadent\ Chocolate\ Brownie.webp);
}

#new-york-cheesecake {
    background-image: url(../menu/Desert/New\ York\ Baked\ Cheesecake.webp);
}

#fudge-brownie {
    background-image: url(../menu/Desert/Slice\ Chocolate\ Fudge\ Brownie.webp);
}