// Varibles

$primary-color: #861b1b;
$secondary-color: #e5d8cd;
$background-color: #f6eee8;
$hover-color: #184126;
$header-font-family: "Sansita Swashed",
system-ui;
$body-font-family: "Chivo",
sans-serif;

$border-radius: 10px;
$border: 2px solid #861b1b;

// End of Varibles